<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletQuiz</servlet-name>
        <servlet-class>ServletQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestartServlet</servlet-name>
        <servlet-class>RestartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletQuiz</servlet-name>
        <url-pattern>/quiz.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestartServlet</servlet-name>
        <url-pattern>/restart.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
