
body {
	width: 100%;	
	background-color: white;
	font-family: "Arial", Arial; 
	font-size: 14px;
	margin: 0 auto;
	padding: 0;
}

#content {
    width: 800px;
    margin: 0 auto;
}

.title{
	text-shadow: 1px 1px gray;
}

.question{
	font-weight: bold;
	line-height: 1.6;
}
p{
	line-height: 1.6;
}

.answer{
	color: red;
}

.clear1{
	clear: both;
}